<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
  <header>
  <nav class="navbar">
    <div class="logo">Wiki<span class="highlight">Proyecto</span></div>
      <ul class="nav-links">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/equipo}">Equipo</a></li>
        <li><a href="#">Documentación</a></li>
        <li><a th:href="@{/desarrollo}">Desarrollo</a></li>
        <li><a th:href="@{/pruebas}">Pruebas</a></li>
        <li><a th:href="@{/contacto}" class="active">Contacto</a></li>
      </ul>
  </nav>
  </header>

  <main>
    <h1 class="section-title">Formulario de Contacto</h1>
    <div class="card-form">
      <form>
        <div class="form-group">
          <label for="nombre">Nombres:</label>
          <input type="text" id="nombre" name="nombre">
        </div>
        <div class="form-group">
          <label for="apellido">Apellidos:</label>
          <input type="text" id="apellido" name="apellido">
        </div>
        <div class="form-group">
          <label for="correo">Correo:</label>
          <input type="email" id="correo" name="correo">
        </div>
        <div class="form-group">
          <label for="semestre">Semestre (0 - 16):</label>
          <input type="number" id="semestre" name="semestre" min="0" max="16">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" name="descripcion" rows="4"></textarea>
        </div>
        <div class="form-group">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </main>
</body>
</html>
